.Card {
  text-align: center;
  background-color: cornflowerblue;
  border-radius: 5px;
  padding: 2vh;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

.poke-image {
  height: 100px;
  width: auto;
  background-color: gold;
  border: 4px orangered solid;
  border-radius: 50%;
  padding: 2vh;
}

.name {
  font-size: 1.5vh;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}

.details {
  font-size: 1.5vh;
  line-height: 0.9vh;
}
