.Header {
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-size: 2.5vh;
  margin: 6vh 0 4vh 0;
}

.Header h1 {
  margin: 0;
  color: #ff0000;
  filter: drop-shadow(2px 2px 2px black);
}
