.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 6vh;
}

.search-input {
  border: none;
  border: 4px #ff0000 solid;
  border-radius: 5px;
  height: 2.5vh;
}

.search-submit {
  border: none;
  background: none;
}

.search-submit img {
  height: 3vh;
}

.search-submit:hover {
  transform: scale(1.1);
}

.search-submit:active {
  filter: drop-shadow(1px 1px 2px black);
}
